html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Removed margin-bottom to prevent extra space after footer */
}

.container-custom {
    margin-bottom: 40px; /* Adjusted margin to create space before the footer */
}

/* Footer styling */
.footer {
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent background */
    padding: 20px; /* Space inside the footer */
    text-align: center; /* Center text */
    margin-top: 40px; /* Adjust this to push the footer lower */
}
